@import "./../../../../variables.scss";

.about {
    .about-img-container {
        width: 100%;
        max-width: 300px; /* Ancho máximo para la imagen */
        margin: auto;
        position: relative;
        overflow: hidden;

        img {
            width: 100%;
            height: auto; /* La altura se ajustará automáticamente para mantener la proporción */
            display: block; /* Asegura que la imagen se muestre correctamente */
        }

        &:after {
            /* No se necesita esto para la corrección de la imagen */
            display: none;
        }
    }

    .skills-list {
        display: grid;
        grid-template-columns: repeat(3, minmax(140px, 200px)); /* Tres columnas de habilidades */
        overflow: hidden;
        padding: 0;
        margin: 20px 0 0 0;
        list-style: none;
    }
}


